:root {
  --background-color: #eeeeee;
  --light-grey: #c4c1c1;
  --accent-color: #b036e0;
}
.container {
  text-align: center;
}

@media (max-width:2000px) and (min-width:565px) {
  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 100px;
    max-width: 100%;
    width: 900px;
  }

  .progress-container::before {
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }

  .progress {
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }

  .circle {
    background: var(--light-grey);
    color: var(--light-grey);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--light-grey);
    transition: 0.4s ease;
  }

  .circle.active {
    border-color: var(--accent-color);
    background-color: #fff;
    color: var(--accent-color);
    scale: 1.1;
  }

  .circle .icon {
    position: absolute;
    font-size: 45px;
    bottom: 25px;
  }

  .circle .caption {
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    bottom: -60px;
  }

  .btn:active {
    transform: scale(0.9);
  }

  .btn:focus {
    outline: 0;
  }

  .btn:disabled {
    background-color: var(--light-grey);
    cursor: not-allowed;
  }

  #prev,
  #next {
    margin: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 85%;
  }
}

@media (max-width:1090px) and (min-width:900px) {
  .progress-container {
    width: 80vw;
  }
}

@media (max-width:900px) {
  .progress-container {
    width: 50vw;
  }

  .circle .caption {
    font-size: 9px;
  }

} 

@media (max-width:565px) {
  .progress-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
  }

  .progress-container::before {
    content: "";
    background-color: var(--light-grey);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }

  .progress {
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }

  .circle {
    background: var(--light-grey);
    color: var(--light-grey);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--light-grey);
    transition: 0.4s ease;
    font-size: 10px;
  }

  

  .circle.active {
    border-color: var(--accent-color);
    background-color: #fff;
    color: var(--accent-color);
    scale: 1.1;
  } 

  #prev,
  #next {
    margin: 15px;
  }
}